div.simple__page-content-item.__border
    form
        div.register__form
            span.register__form-title Имя
            input.register__form-input(placeholder="..." type="text" id="first_name") 
        div.register__form
            span.register__form-title Фамилия
            input.register__form-input(placeholder="..." type="text" id="second_name") 
        div.register__form
            span.register__form-title Логин
            input.register__form-input(placeholder="..." type="text" id="login") 
        div.register__form
            span.register__form-title Почта
            input.register__form-input(placeholder="..." type="text" id="email") 
        div.register__form
            span.register__form-title Телефон
            input.register__form-input(placeholder="..." type="text" id="phone") 
        div.register__form
            span.register__form-title Пароль
            input.register__form-input(placeholder="..." type="text" id="password")
        div.register__form
            span.register__form-title Пароль еще раз
            input.register__form-input(placeholder="..." type="text" id="password2")
        button.register__button(data-link='/chats') Зарегистрироваться

div.simple__page-content-item
    button.register__button.__invert(data-link='/') Войти
