@import '../../../static/variables';

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    box-sizing: border-box;
}

.form__block {
    width: 30rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.form__unit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.form__title {
    font-size: 1.6rem;
}

.form__input {
    width:  50%;
    font-size: 1.6rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: 1px solid $border-color;
}

.form__warning-message {
    margin-top: 1rem;
    max-width: 25rem;
    font-size: 1.6rem;
    color: $accent2;
    font-weight: 600;
}