@import '../../../static/variables';

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    box-sizing: border-box;
}

.form__block {
    width: 30rem;
    padding: 0;
    margin: 0;
}

.form__title {
    font-size: 3.5rem;
}

.form__warning-message {
    margin-top: 1rem;
    max-width: 25rem;
    font-size: 1.6rem;
    color: $accent2;
    font-weight: 400;

    &.__success {
        color: $accent3;
    }
}

.form__block__hide {
    width: 1rem;
}