
block variables

body
    div.simple__page
        div.simple__page-content
            div.simple__page-content-item.__border
                span.simple__page-content-item-title #{title}
            div.simple__page-content-item.__border
                span.simple__page-content-item-text #{text}
            div.simple__page-content-item.__border
                block content
            div.simple__page-content-item
                block buttons

script(type='module' src='../../layout/simple/index.js') 
block scripts

