div.simple__page-content-item.__border
    form
        div.auth__form
            span.auth__form-title Логин
            input.auth__form-input(placeholder='...' type='text' id='login') 
        div.auth__form
            span.auth__form-title Пароль
            input.auth__form-input(placeholder='...' type='text' id='password')
        button.auth__button(data-link='/chats') Войти
div.simple__page-content-item
    button.auth__button.__invert(data-link='/register') Зарегистрироваться
