div.chat
    div.dialogs
        div.find
            svg.icon
                use(xlink:href='../../../static/search.svg#search')
            input.find__input(type='text' placeholder='Поиск...')#finder
            svg.icon#newchat
                use(xlink:href='../../../static/addchat.svg#addchat')
        ul.list
    div.dialog
        ul.messages