div.chat
    div.dialogs
        div.find
            svg.find__icon
                use(xlink:href='../../../static/search.svg#search')
            input.find__input(type='text' placeholder='Поиск...')#finder
        ul.list
    div.dialog
        ul.messages