div.profile__modal
    div.profile__modal-block
        span.profile__modal-title Аватар
        button.button#selectavatar Выбрать файл
        button.button#saveavatar Сохранить
        button.button.__cancel#cancelavatar Отменить
        input.profile__modal-input(id='file-input' type='file' name='name')
