include ./modal.pug
div.profile
    div.profile__block-avatar#avatarHandler
    div.profile__block
        span.profile__block-title
        ul.profile__block-info
        button.button.__cancel#logout Выйти
    div.profile__block-buttons
        button.button#infoHandler Изменить данные
        button.button#passwordHandler Изменить пароль

