div.simple__page-content-item.__border
    span.simple__page-content-item-subtitle ПРОИЗОШЛА ОШИБКА
    span.simple__page-content-item-subtitle УЖЕ ИСПРАВЛЯЕМ
div.simple__page-content-item
    button.simple__page-button-return(data-link='/') На главную
