div.profile__modal
    span.profile__modal-title Аватар
    button.profile__block-button#selectavatar Выбрать файл
    button.profile__block-button#saveavatar Сохранить
    button.profile__block-button.__cancel#cancelavatar Отменить
    input(id='file-input' type='file' name='name' style='display: none;')
