-
    const inputs = [
        {
            title : 'Старый пароль',
            name: 'oldpassword',
            type: 'password',
            suggested: 'current-password'
        },
        {
            title : 'Пароль',
            name: 'newpassword',
            type: 'password',
            suggested: 'new-password'

        },
        {
            title : 'Пароль еще раз',
            name: 'retrypassword',
            type: 'password',
            suggested: 'new-password'

        }
    ]
div.profile
    form
        ul.profile__block-info
            each value in inputs
                li.profile__block-item
                    span(style='margin-right: 10px')=value.title
                    input.register__form-input(type=value.type name=value.name suggested=value.suggested autocomplete="on")
        button.profile__block-button(type='submit')#savepassword Сохранить
        button.profile__block-button.__cancel#cancelpassword Отменить
