include ./modal.pug
div.profile
    div.profile__block-avatar#avatarHandler
    div.profile__block
        ul.profile__block-info
        button.profile__block-button.__cancel#logout Выйти
    div.profile__block-buttons
        button.profile__block-button#infoHandler Изменить данные
        button.profile__block-button#passwordHandler Изменить пароль

