$light1: #ffffff;
$light2: #eeeeee;
$light3: #eee;
$dark1: #000000;
$dark2: #2D2D2D;
$accent1: #2196F3;
$accent2: #FF1744;
$accent3: #69F0AE;

$main-background: $light1;
$main-text: $dark1;

$icons-color: $accent1;

$chat-pointer: $accent1;
$message-pointer-left: $accent3;
$message-pointer-right: $accent1;

$unread-counter-background: $accent1;
$unread-counter-text: $light1;

$border-color: $accent1;

$block-background-accent: $light2;

$button-text: $light1;
$button-background: $accent1;
$button-text-invert: $accent1;
$button-background-invert: $light1;
$button-backround-cancel: $accent2;

$header-text: $dark1;
$header-background: $light1;

$sidebar-text: $light3;
$sidebar-background: $dark2;
$sidebar-pointer: $accent1;


