@font-face {

    font-family: 'Montserrat';

    src: local('Montserrat'),
        url('./Montserrat/montserratlight.woff2'),
        format("woff2");

    font-weight: 300;

    font-style: thin;

}

@font-face {

    font-family: 'Montserrat';

    src: local('Montserrat'),
        url('./Montserrat/montserrat.woff2'),
        format("woff2");

    font-weight: 600;

    font-style: normal;

}

@font-face {

    font-family: 'Montserrat';

    src: local('Montserrat'),
        url('./Montserrat/montserratbold.woff2'),
        format("woff2");

    font-weight: bold;

    font-style: 900;

}