.sidebar {
    width: 15rem;
    height: 100vh;
    background: #2D2D2D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.sidebar__menu-item {
    padding: 0.5rem 3rem;
    box-sizing: border-box;
    margin-top: 4rem;

    &.active {
        border-left: 3px solid #2196F3;
        background: linear-gradient(270deg, rgba(51, 104, 167, 0.72) 15.71%, rgba(152, 192, 239, 0) 92.49%);
        border-radius: 0 20px 20px 0;
    }
}

.sidebar__menu-item-icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #cccccc;

    &.active {
        fill: #2196F3
    }
}

.sidebar__logo {
    color: #cccccc !important;
    font-size: 1.8rem;
}

a:-webkit-any-link {
    color:#cccccc;
    text-decoration: none;
    cursor: pointer;
}