div.simple__page-content-item.__border
    span.simple__page-content-item-subtitle ЧТО-ТО ПОШЛО НЕ ТАК
    span.simple__page-content-item-subtitle СТРАНИЦА НЕ НАЙДЕНА
div.simple__page-content-item
    button.button(data-link='/') На главную
