div.list__item-left
    div.list__item-left-avatar 
    div.list__item-left-text
        span.list__item-left-text-contact
        span.list__item-left-text-message
div.list__item-right
    span.list__item-right-time
    span.list__item-right-counter