div.shipment
    svg.shipment__icon
        use(xlink:href='../../../../static/paperclip.svg#paperclip')
    input.shipment__input(type='text' placeholder='Сообщение')
    svg.shipment__icon
        use(xlink:href='../../../../static/message.svg#message')
