form.shipment
    svg.icon#addfile
        use(xlink:href='../../../../static/paperclip.svg#paperclip')
    input.shipment__input(type='text' name='message' placeholder='Сообщение')
    button(type='submit')
        svg.icon
            use(xlink:href='../../../../static/message.svg#message')
