.main__page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.content {
    width: calc(100vw - 15rem);
    height: 100vh;
    @media only screen and (max-width: 1024px) {
        height: 90vh;
        width: 100vw;
    }

}