.simple__page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple__page-content {
    border: 1px solid #2196F3;
    background: #E3F2FD;
    border-radius: 10px;
    padding: 2rem;
}

.simple__page-content-item {
    display: flex;
    align-items: center;
    padding: 3rem;
    flex-direction: column;

    &.__border {
        border-bottom: 1px solid #2196F3;
    }
}

.simple__page-content-item-title {
    font-size: 3rem;
    font-weight: 600;
}

.simple__page-content-item-subtitle {
    font-size: 2rem;
    font-weight: 300;
}

.simple__page-button-return {
    background: #2196F3;
    border-radius: 10px;
    color: #ffffff;
    width: 25rem;
    height: 6rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}