div.simple__page#simple__page
    div.simple__page-content
        div.simple__page-content-item.__border
            span.simple__page-content-item-title
        div.simple__page-content-item.__border
            span.simple__page-content-item-subtitle
        main


